/*top page*/
header {
	height: 100px;
	padding: 10px 0 22px;
	.logo {
		margin-top: 6px;
	}
	.main-nav {
		.positions(absolute, auto, 0, 0);
		.listUnstyled();
		ul {
			margin-top: 28px;
			li {
				.li-plain();
				padding-bottom: 0;
				float: left;
				.linkSet(@color-white, @color-white, inherit, none, none);
				a {
					display: block;
					height: 42px;
					.proximaSemiBold();
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.05em;	
					padding: 0 10px;
					line-height: 42px;
					&.purple {
						background-color: @col-purple;
						&:hover {
							background-color: @col-purple-hvr;
						}
					}
					&.pink {
						background-color: @col-pink;
						&:hover {
							background-color: @col-pink-hvr;
						}
					}
					&.yellow {
						background-color: @col-yellow;
						&:hover {
							background-color: @col-yellow-hvr;
						}
					}
					&.green {
						background-color: @col-green;
						&:hover {
							background-color: @col-green-hvr;
						}
					}
					&.blue {
						background-color: @col-blue;
						&:hover {
							background-color: @col-blue-hvr;
						}
					}
					&.beige {
						background-color: @col-beige;
						&:hover {
							background-color: @col-beige-hvr;
						}
					}
					&.orange {
						background-color: @col-orange;
						&:hover {
							background-color: @col-orange-hvr;
						}
					}
				}
			}
		}
	}
}

.setTopPage(@w) when (@w = @breakpoint1) {
	
}	
.setTopPage(@w) when (@w = @breakpoint2) {
		
}	